html {
  height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  #root {
    height: 100%;
    width: 100%;
    background-color: #2194b0;
  }
  
  #submitbutton {
      position: absolute;
      bottom: 30px;
      right: 35px;
      width: 7%;
  }
  
  .App {
    text-align: center;
    height: 100%;
    width: 100%;
    min-height: 42vh;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 40px;
  }

  .star-wrapper {
      height: 25vmin;
      position: relative;
      width: 25vmin;
      margin: auto;
      display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
  }
  
  .star-rating {
    width: 25vmin;
    z-index: 1;
    font-size: 8vmin;
    margin-top: 2vmin;
  }

  .svg-star {
    height: 25vmin;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .App-header {}
  
  
 p {
     color: white;
     line-height: 42px;
     text-align: center;
     font-size: calc(25px + 1vmin);
     letter-spacing: -1px;
     padding: 10px;
  }
  
  @keyframes Star-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  